# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Python bytecode
__pycache__/
*.py[cod]

# Logs
logs
*.log

# Test reports
playwright-report
test-results
coverage

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
